@model GarageFlow.ViewModels.VehicleCreateViewModel
<h1>ARAÇ EKLE</h1>

<div class="form-group mb-3">
    <form>
        <label asp-for="Plate"></label>
        <input asp-for="Plate" class="form-control" />

        <label asp-for="Brand"></label>
        <input asp-for="Brand" class="form-control" />


        <button type="submit">Kaydet</button>
    </form>
</div>
